body {
    background-color: #000000;
    
    color: goldenrod;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
}

h1 {
    color: #FFD700;
    margin-bottom: 20px;
    font-size: 2.5em;
}

p {
    color: rgb(233, 77, 103);
    font-size: 1.5em;
}

button {
    background-color: #FFD700;
    color: #000;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #FFA500;
    transform: scale(1.1);
}

a {
    text-decoration: none;
}
